body{
    margin: 0;
    padding: 0;
    background-color: rgb(39, 39, 39);
    /* font-family:Georgia, 'Times New Roman', Times, serif; */
    color: #fff;
    font-family: 'Kanit', sans-serif;
}

.head h1{
    margin: 0;
    padding: 0;
    font-family: 'Tilt Neon', sans-serif;
    font-size: 40px;
    /* font-weight: 200px; */
    color: #fff;
    background-image: url(../image/bgi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    text-align: center;
}
.navbar{
    position: sticky;
    top: 0%;
    display: flex;
    justify-content: flex-end;
    background-color: lightskyblue;
    /* padding: 5px; */
    
}

.logo {
    margin-right: auto;
    font-size: 20px;
}
.navbar h1 a{
    
    text-decoration: none;
    color: #fff;
}
.navbar h1 a:hover{
    cursor: pointer;
    color: #000;
    transition: 0.3s ease-in 0s;
}
.navbar li{
    display: inline;
}
.navbar li a{
    color: #fff;
    text-decoration: none;
    padding: 0px 50px;
    text-align: center;
    
}
.navbar li a:hover{
    cursor: pointer;
    color: #000;
    transition: 0.3s ease-in 0s;
}
.navbar button{
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    background-color: transparent;
    border-radius: 20px;
    color: #fff;
    margin: 5px;
}
.navbar button:hover{
    cursor: pointer;
    background-color: #fff;
    color: #000;
    transition: 0.3s ease 0s;
}
.intro{
    padding: 15px;
    color: lightskyblue;
}
.intro h2{
    color:lightskyblue;
    font-size: 40px;
    font-weight: 100px;
    text-align: center;
}
.intro p{
    padding: 10px;
    font-size: 25px;
}
.card1{
    display: flex;
}
.cards1 {
    padding: 20px;
    margin: 10px;
    background-color:rgb(39, 39, 39);
    border: 1px solid lightskyblue;
    border-radius: 30px;
    max-width: 400px;
    box-shadow:5px 5px 10px #000;
}
.card2{
    display: flex;
}
.cards2{
    padding: 20px;
    margin: 10px;
    background-color:rgb(39, 39, 39);
    border: 1px solid lightskyblue;
    border-radius: 30px;
    max-width: 400px;
    box-shadow:5px 5px 10px #000;   
}
.card1 .cards1:hover{
    cursor: pointer;
    box-shadow:5px 5px 10px #fff;
    transform: translateY(-2%);
}
.card2 .cards2:hover{
    cursor: pointer;
    box-shadow:5px 5px 10px #fff;
    transform: translateY(-2%);
}
/* .table table{
   width: 100%;
   border-collapse: collapse;
   text-align: center;
   border
} */