*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(39, 39, 39);
    /* font-family:Georgia, 'Times New Roman', Times, serif; */
    color: #fff;
    font-family: 'Kanit', sans-serif;
}
.top{
    /* font-weight: 200px; */
    color: #fff;
    background-image: url(../image/bgi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 50px; */
}
.top h1{
    text-align: center;
    padding: 20px 10px;
}
.navbar{
    position: sticky;
    top: 0%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: lightskyblue;
    padding-right: 0px;
    z-index: 9;
    padding: 12px 10px;
    
}

.logo {
    /* margin-right: auto; */
    font-size: 20px;
    text-align: center;
}
/* .navbar h1{
    display: flex;
    justify-content: center;
} */
.navbar h1 a{
    /* padding: 20px; */
    text-decoration: none;
    color: #fff;
}
.navbar h1 a:hover{
    cursor: pointer;
    color: #000;
    transition: 0.3s ease-in 0s;
}
.navbar li{
    display: inline;
}
.navbar ul li{
    font-size: 20px;
    font-weight:bold;
    padding: 0px 50px;
    text-align: center;
    
}
.navbar ul li a{
    color: #fff;
    text-decoration: none;
}
.navbar li a:hover{
    cursor: pointer;
    color: #000;
    transition: 0.3s ease-in 0s;
}
.navbar ul li button{
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    background-color: transparent;
    border-radius: 20px;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}
.navbar button:hover{
    cursor: pointer;
    background-color: #fff;
    color: #000;
    transition: 0.3s ease 0s;
}
 .content{
    /* margin: 20px; */
    padding: 30px;
    padding-top: 60px;
    display: flex;
    align-items: center;
    
}
.content-image{
    margin-left: 30px;
}
.content h1{
    color: rgb(255, 147, 85);
}
.content p{
    /* margin: 30px; */
    font-size: 25px;
    color: lightskyblue;
    text-align: justify;
    line-height: 1.5;
}
.content img{
    /* margin-top: 30px; */
    border-radius: 50px;


}
.description{
    padding: 30px;
    padding-top:50px ;
    display: flex;
    align-items: center;
    /* margin: 30px; */
}
.description h1{
    margin-left: 30px;
    color: rgb(255, 147, 85);
}
.description iframe{
    border-radius: 20px;
}
.description p{
    margin-left: 30px;
    color: lightskyblue;
    font-size: 25px;
    line-height: 1.5;
    text-align: justify;
}
.intro{
    padding: 15px;
    color: lightskyblue;
}
.intro h2{
    color:lightskyblue;
    font-size: 40px;
    font-weight: 100px;
    text-align: center;
}
.intro p{
    padding: 10px;
    font-size: 25px;
}
.card1{
    display: flex;
}
.cards1 {
    padding: 20px;
    margin: 10px;
    margin-top: 40px;
    background-color:rgb(39, 39, 39);
    /* border: 1px solid lightskyblue; */
    border-radius: 30px;
    max-width: 400px;
    box-shadow:2px 2px 5px #000;
}
.card2{
    display: flex;
}
.cards2{
    padding: 20px;
    margin: 10px;
    margin-top: 30px;
    background-color:rgb(39, 39, 39);
    /* border: 1px solid lightskyblue; */
    border-radius: 30px;
    max-width: 400px;
    box-shadow:2px 2px 5px #000;   
}
.card1 .cards1:hover{
    cursor: pointer;
    box-shadow:5px 5px 8px #fff;
    transform: translateY(-2px);
    transition: 0.5s 0.3s;
}
.card2 .cards2:hover{
    cursor: pointer;
    box-shadow:5px 5px 10px #fff;
    transform: translateY(-2px);
}
.students p{
    color: lightskyblue;
    text-align: center;
    font-size: 40px;
}
.table table{
    margin: 30px;
    width: 95%;
    border-collapse: collapse;
    text-align: center;
    border: 2px solid lightskyblue;
}
.table th{
    color:lightskyblue;
    font-size: 30px;
    padding: 20px;
    background-color:rgb(0, 48, 78) ;
}
/* .table tr{
    color: lightskyblue;
    font-size: 20px;
} */
.table td{
    padding: 20px;
}
.table tr:nth-child(odd){
    background-color: rgb(27, 27, 27);
}
.table tr:hover{
    /* color: lightskyblue; */
    background-color: rgb(66, 66, 66);
}
.star{
    color: yellow;
}
 footer{
    font-size: 20px;
    text-align: center;
    background-color: rgb(46, 46, 46);
}
footer p{
    padding: 10px;
    color:rgb(156, 156, 156);
}
footer p a{
    color: lightskyblue;
}
.all{
    font-size: 16px;
}